

img {
	width: 100%;
}
h5 {
  margin-top: 50px;
  margin-left: 20%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: .7px;
}
h1.title {
	font-family: 'Montserrat', sans-serif;
  font-weight: 300;
	font-size: 150px;
	letter-spacing: .4px;
	margin-top: 12%;
	z-index: 100;
	position: absolute;
	color: white;
}
h1.titleLower {
	font-family: 'Montserrat', sans-serif;
  font-weight: 300;
	font-size: 150px;
	letter-spacing: .4px;
	margin-top: 20%;
	z-index: 101;
	position: absolute;
	color: white;
}
