doctype html
html
  head
    title Branden Francis | Industrial Design Portfolio
    link(rel='stylesheet', type='text/css', href='css/styles.scss')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='public/main.js')
  body
    ul.slider
      li.mainCarousel.hidden
        img(src='public/images/apron_05W.jpg')
      li.mainCarousel.hidden
        img(src='public/images/couch/02W.jpg')
      li.mainCarousel.hidden
        img(src='public/images/coffeeTable/08W.jpg')
      li.mainCarousel.hidden
        img(src='public/images/wallet/03W.jpg')
    ul.project-list
      li
        .table
          h3 Slatted Table / furniture design
        .apron
          h3 Work Apron / product design
        .couch
          h3 Outdoor Couch / furniture design
        .playground
          h3 Tsumani Relief Playground / interaction design
        .knife
          h3 Utility Knife / product design
        .harvester
          h3
            | Bamboo Harvester / product design
        .wallet
          h3 Leather Wallet / product design
        .renderings
          h3 Assorted Renderings / technical illustration
      .nav-bar
        ul
          li
            a(href='#') Work
          li
            a(href='#') About
          li
            a(href='#') Contact