<!DOCTYPE html>
<html>
  <head>
    <title>Branden Francis | Industrial Design Portfolio</title>
    <script src="/javascripts/main.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300|Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon1.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/favicon1.ico" type="image/x-icon"/>
    <script src="https://use.fontawesome.com/a127894e09.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">
  </head>
  <body>


    <!-- <div id="mainCarousel" class="carousel slide" data-rite="carousel">
      <ol class="carousel-indicators">
        <li data-target="mainCarousel" data-slide-to="0" class="active">
          <img src="/images/apron/05W.jpg">
        </li>
        <li data-target="mainCarousel" data-slide-to="1" class>
          <img src="/images/couch/04W.jpg">
        </li>
        <li data-target="mainCarousel" data-slide-to="2" class>
          <img src="/images/coffeeTable/08W.jpg">
        </li>
        <li data-target="mainCarousel" data-slide-to="3" class>
          <img src="/images/cameraStrap/01W.jpg">
        </li>
      </ol>
    </div> -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <!-- <li data-target="#carousel-example-generic" data-slide-to="3"></li> -->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/images/rhine/Rhinegeist.jpg">
    </div>
    <div class="item">
      <img src="/images/coffeeTable/08W.jpg">
    </div>
    <div class="item">
      <img src="/images/rhine/Rhinegeist2.jpg">
    </div>
    <!-- <div class="item">
      <img src="/images/rhinegeistRoof/RhineRoof.jpg">
    </div> -->
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<img class="name" src="/images/brandenfrancis.png">

<!-- rhinegeist -->
<div class="container project">
  <div class="projectText row">
    <img src="/images/italics/rhineText.png" />
  </div>
  <div  class="details">
    <p class="description">
      E13 Workshop
      Commissioned for the Design/Build of Rhinegeist's Tap Room Bar, Rolling Bars and Furniture
      <br /><br /> Cincinnati, Oh
    </p>
    <p class="description">
      pine, steel pipe, burned wood
    </p>
  </div>
  <div class="row">
     <img src="/images/rhine/Rhinegeist2.jpg" alt="rhine2" class="col-xs-10 col-sm-6 col-md-6 col-lg-5 rhine2">
     <img src="/images/rhine/Rhinegeist4.jpg" alt="rhine4" class="col-xs-10 col-sm-6 col-md-6 col-lg-5 rhine4">
    </div>
</div>
<div class="container">
  <div class="row"></div>
     <img src="/images/rhine/rhinegeistResize.jpg" alt="rhineA" class="rhineA">
     <img src="/images/rhine/Rhinegeist.jpg" alt="rhine1" class="col-xs-10 col-sm-11 col-md-11 col-lg-11 rhine1">
  </div>
</div>

<!-- rhinegeist2 -->
<div class="container project">
  <div class="projectText row">
    <img src="/images/italics/roofText.png" />
  </div>
  <div class="row rhine">
     <img src="/images/rhineRoof/RhineRoof2.jpg" alt="rhine2" class="col-xs-10 col-sm-6 col-md-6 col-lg-5 rhine2">
     <img src="/images/rhineRoof/RhineRoof3.jpg" alt="rhine4" class="col-xs-10 col-sm-6 col-md-6 col-lg-5 rhine4">
    </div>
</div>
<div class="container">
  <div class="row"></div>
     <!-- <img src="/images/rhine/Rhinegeist3.jpg" alt="rhine3" class="rhine3"> -->
     <img src="/images/rhineRoof/RhineRoof.jpg" alt="rhine1" class="col-xs-10 col-sm-11 col-md-11 col-lg-11 rhine1">
  </div>
</div>

<!-- couch -->
<div class="container project">
  <div class="projectText row">
    <img src="/images/italics/couchText.png" />
  </div>
  <div class="row rhine">
     <img src="/images/couch/01W.jpg" alt="rhine2" class="col-xs-10 col-sm-6 col-md-6 col-lg-5 rhine2">
     <img src="/images/couch/02W.jpg" alt="rhine4" class="col-xs-10 col-sm-6 col-md-6 col-lg-5 rhine4">
    </div>
</div>
<div class="container">
  <div class="row"></div>
     <!-- <img src="/images/rhine/Rhinegeist3.jpg" alt="rhine3" class="rhine3"> -->
     <img src="/images/couch/03W.jpg" alt="rhine1" class="col-xs-10 col-sm-11 col-md-11 col-lg-11 rhine1">
  </div>
</div>

<!-- coffee table -->
<div class="container project">
  <div class="projectText row">
    <img src="/images/italics/tableText.png" />
  </div>
  <div class="row rhine">
     <img src="/images/coffeeTable/02L.jpg" alt="rhine2" class="col-xs-10 col-sm-6 col-md-6 col-lg-5 rhine2">
     <img src="/images/coffeeTable/03L.jpg" alt="rhine4" class="col-xs-10 col-sm-6 col-md-6 col-lg-5 rhine4">
    </div>
</div>
<div class="container">
  <div class="row"></div>
     <!-- <img src="/images/rhine/Rhinegeist3.jpg" alt="rhine3" class="rhine3"> -->
     <img src="/images/coffeeTable/08W.jpg" alt="rhine1" class="col-xs-10 col-sm-11 col-md-11 col-lg-11 rhine1">
  </div>



<!-- work apron -->
<div class="container project">
  <div class="projectText row">
    <img src="/images/italics/apronText.png" />
  </div>
  <div class="row">
    <img src="/images/apron/02L.jpg" alt="rhine2" class="col-xs-10 col-sm-6 col-md-6 col-lg-5 rhine2">
    <img src="/images/apron/03L.jpg" alt="rhine4" class="col-xs-10 col-sm-6 col-md-6 col-lg-5 rhine4">
  </div>
</div>
<div class="container">
  <div class="row">
     <!-- <img src="/images/rhine/Rhinegeist3.jpg" alt="rhine3" class="rhine3"> -->
     <img src="/images/apron/05W.jpg" alt="" class="col-xs-10 col-sm-11 col-md-11 col-lg-11 apron3">
  </div>
</div>

<br >

<div class="container project">
  <div class="projectText row">
    <img src="/images/italics/aboutText.png" />
  </div>
  <div class="row">
    <p>
      I specialize in design and fabrication, creating practical products and experiences that strive to deepen and redefine the relationship between object and human / space and brand. My approach is thorough and holistic, uniting detail, structure and function with careful consideration towards material and production methods to allow for solutions with integrity to be achieved.
      <br />
      <!-- Specialties: Critical problem solving, Materials and Fabrication, Research and Development.
      <br />
      Industries: Product Innovation, Furniture, Brand Environments, Exhibit Design, Softgoods.
      <br />
      Please feel free to contact me regarding design opportunities or fabrication. I would love to continue this conversation. -->
    </p>
  </div>
</div>

<div class="container project">
  <div class="projectText row">
    <img src="/images/italics/contactText.png" />
  </div>
  <div class="row">
    <p>
    Frandenb@gmail.com
    </p>
    <a href="https://www.behance.net/Branden_Francis"> <i class="fa fa-behance" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/brandenfrancis"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
  </div>
</div>

<div class="container footer">
  <div class="row">
    <p>
       2016
    </p>
  </div>
</div>

<!-- rucksack -->
<!-- <div class="container project">
  <div class="row rhine">
     <img src="/images/images/rucksack/02.jpg" alt="rhine2" class="col-xs-10 col-sm-6 col-md-6 col-lg-5 rhine2">
     <img src="/images/images/rucksack/01.jpg" alt="rhine4" class="col-xs-10 col-sm-6 col-md-6 col-lg-5 rhine4">
    </div>
</div>
<div class="container">
  <div class="row rhine"></div> -->
     <!-- <img src="/images/rhine/Rhinegeist3.jpg" alt="rhine3" class="rhine3"> -->
     <!-- <img src="/images/images/rucksack/04.jpg" alt="rhine1" class="col-xs-10 col-sm-11 col-md-11 col-lg-11 rhine1">
  </div>
</div>
<div class="container project">
  <div class="row rhine">
     <img src="/images/images/rucksack/03.jpg" alt="rhine2" class="col-xs-10 col-sm-6 col-md-6 col-lg-5 rhine2">
     <img src="/images/images/rucksack/08.jpg" alt="rhine4" class="col-xs-10 col-sm-6 col-md-6 col-lg-5 rhine4">
    </div>
</div> -->
<!-- content accordion -->
<!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Rhinegeist Brewery - Cincinnati
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <!-- <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <!-- <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="images/rhine/Rhinegeist.jpg" alt="Chania">
            </div>

            <div class="item">
              <img src="images/rhine/Rhinegeist2.jpg" alt="Chania">
            </div>

            <div class="item">
              <img src="images/rhine/Rhinegeist3.jpg" alt="Flower">
            </div>

            <div class="item">
              <img src="images/rhine/Rhinegeist4.jpg" alt="Flower">
            </div>
          </div> -->

          <!-- Left and right controls -->
          <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Work Apron / product design
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Outdoor Couch / furniture design
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Outdoor Couch / furniture design
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Utility Knife / product design
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Leather Wallet / product design
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>

</div> -->

    <!-- <ul class="project-list">
      <li>
        <div class="table">
          <h3>Slatted Table / furniture design</h3>
        </div>
        <div class="apron">
          <h3>Work Apron / product design</h3>
        </div>
        <div class="couch">
          <h3>Outdoor Couch / furniture design</h3>
        </div>
        <div class="playground">
          <h3>Tsumani Relief Playground / interaction design</h3>
        </div>
        <div class="knife">
          <h3>Utility Knife / product design</h3>
        </div>
        <div class="harvester">
          <h3>Bamboo Harvester / product design</h3>
        </div>
        <div class="wallet">
          <h3>Leather Wallet / product design</h3>
        </div>
        <div class="renderings">
          <h3>Assorted Renderings / technical illustration</h3>
        </div>
      </li>
      <div class="nav-bar">
        <ul>
          <li><a href="#">Work</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div> -->
    </ul>
  </body>
</html>
